*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
/* navbar css */
#gill_telecom_logo{
  width: 180px;
 padding-top: 8px;
 padding-left:5rem;
}
#navbar{
  background: transparent;
  color: orange;
  z-index: 99999;
}
#navbar_ul{
 padding-left: 505px;
}
#navbar_ul li{
  padding-left: 22px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto Slab',serif;
}
#home:hover{
color: orange;
font-size: 21px;
}
#header_dropdown{
  border: none;
  width: 251px;
  padding: 15px;
  }
#header_dropdown a{
padding-bottom: 15px;
font-size: 18px;
text-shadow: 2px 2px 2px orange;
}
#header_dropdown a:hover{
color: white;
background-color: orange;
}
/* home Section Css Start */
 #home-slider-img{
  width: 1352.2px;
  height: 580px;
  position: relative;
  margin-left: -15px;
  margin-top: -130px;
  background-position: center;
  user-select: none;
  background-color:rgb(153, 113, 40,0.08);
 } 
#slider-h2{
  position: absolute;
  top: 24%;
  padding-left: 100px;
  color: white;
  font-family: 'Roboto Slab',serif;
  font-weight:500;
 font-size: 43px;
  user-select: none;
}
#slider-p{
  position: absolute;
  top: 35%;
  padding-left: 100px;
  color: white;
  font-size: 21.5px;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: 'Roboto Slab',serif;
  user-select: none;
}
#slider_circle{
  padding: 8px 8px;
  border:4px solid rgb(211, 208, 208);
  border-radius: 80%;
  background-color: gray;
  position: absolute;
  left: 47%;
  bottom: 13%;
 }
 #slider_circle2{
  padding: 8px 8px;
  border:4px solid rgb(211, 208, 208);
  border-radius: 80%;
  background-color: gray;
  position: absolute;
  left: 50%;
  bottom: 13%;
 }
 #slider_circle:hover{
background-color: white;
 }
 #slider_circle2:hover{
  background-color: white;
   }
 #mytab{
border: none;
}
#home_button{
  position: absolute;
  top: 58%;
  left: 110px;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border :1px solid whitesmoke;
  font-weight: 600;
}
/* text css */
 #text{
  text-align: center;
  color: #FF8900;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#text-paragraph{
  text-align: center; 
  font-family: "Roboto Slab", serif;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
} 
/* zoom section css */

#zoom-img-h2{
  text-align: center;
  color: #FF8900;
 padding-top: 120px;
 
 }
#zoom-image-text{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(153, 113, 40,0.08);
  z-index: -1;
  cursor: pointer; 
  animation-fill-mode: both;
  animation-name: bounce;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 }
#overlay {
  position: absolute;
  width: 48%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(129, 100, 100, 0.5); 
  z-index: -1; 
  cursor: pointer;
  
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
  40% {transform: translateX(-30px);} 
  60% {transform: translateX(-15px);} 
} 
#zoom-img-p{
color: white;
padding-left: 10px;
padding-right: 10px;
text-align: center;
font-weight: 600;
line-height: 25px;

}
#zoom-side{
  padding: 50px 30px;
}
#zoom-side p{
font-size: 19px;
word-spacing: 1px;
line-height: 30px;
font-family: "Roboto Slab", serif;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin: 50px 35px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 }
.flip-card-front {
  background-color: #fff;
  color: black;
}
.flip-card-back {
  background-color: rgb(220, 222, 224);
  color: white;
  transform: rotateX(180deg);
}
#flip-back-text{
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 23px;
  font-weight: 600;
  color: #FF8900;
}
#flip-back-text1{
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 23px;
  font-weight: 600;
  color: #FF8900;
}
#flip-back-text2{
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 22px;
  font-weight: 600;
  color: #FF8900;
}
#flip-image-text{
  font-weight: 700;
  color: rgb(63, 61, 61);
  font-size: 22px;
}
#our-services-h1{
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 200px;
}
#our-services-h1 span{
 color: #FF8900;
font-size: 49px;
text-align: center;
padding-bottom: 30px;
}
#our-services-p{
text-align: center;
line-height: 33px;
font-size: 20px;
font-weight: 400;
padding-left: 10px;
padding-bottom:20px;
}
#our-services-btn{
  border: none;
  background-color: #FF8900;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 25px;
 }
 #our-services-btn a{
text-decoration: none;
color: white;
font-weight: 600;
 }
 #our-services-btn a i{
padding-left: 5px;
 }
 /* input section css */
 #input_div_img{
   width: 98%;
   border: 10px solid white;
   margin-top:20px;
   margin-left: 15px;
 }
 #let_talk{
   color: #FF8900;
   font-weight: 700;
   padding-left: 90px;
   font-size: 30px;
   padding-top: 15px;
 }
 #let_talk-p{
  padding-left: 90px;
  color: #fff;
  padding-top: 18px;
  font-size: 18px;
  word-spacing: 2px;
 }
 #input-1{
  margin-left: 90px;
  width: 85%;
  background-color: black;
  padding-top: 11px;
  padding-left: 10px;
  padding-bottom: 11px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 17px;
  border: 2px solid gray;
 }
 #input-2{
  margin-left: 90px;
  padding-left: 10px;
  width: 85%;
  background-color: black;
  padding-top: 11px;
  padding-bottom: 60px;
  font-weight: 600;
  font-size: 17px;
  border: 2px solid gray;
 }
 #input_btn{
   background-color: #FF8900;
   color: #fff;
   margin-left: 90px;
   margin-top: 20px;
   padding: 10px 40px;
   border-radius: 7px;
   font-size: 18px;
   font-weight: 600;
 }
 #input_btn i{
padding-left: 5px;
 }
 #input-img-main{
  overflow: hidden;
  background-color: black;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;  
  animation-iteration-count: infinite;
 }
 @keyframes example {
  0%   {background-color:black; left:0px; top:0px;}
  25%  {background-color:black; left:100px; top:0px;}
  50%  {background-color:black; left:100px; top:100px;}
  75%  {background-color:black; left:0px; top:100px;}
  100% {background-color:black; left:0px; top:0px;}
}
/* our_clients css start */
#icon{
  background-color: black;
}
 #input_1{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 90px;
  }
#input_2{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 90px;
}
#input_3{
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100%;
  padding-left: 90px;
}
#input_4{
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100%;
  padding-left: 90px;
}
#our_clients{
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  font-weight: 700;
  padding-top: 55px;
  color: #FF8900;
}
#our_clients span{
color: black;
margin-top: 40px;
}
/* footer section css start */
#footer-about{
  font-size: 20px;
  color: #FF8900;
  font-family: 'Roboto Slab',serif;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 18px;
}
#footer-about-para{
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  width: 248px;
  line-height: 30px;
  word-spacing: 1px;
  padding-bottom: 15px;
}
#footer-social{
  font-size: 40px;
  padding-right: 20px;
  color:#FF8900;
  padding-bottom: 20px;
}
#laocation-para{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid gray;
  padding-bottom:7px ;
}
#laocation-para span{
padding-left: 17px;
}
#laocation-para i{
  padding-right: 7px;
  color: #FF8900;
}
#footer-services1{
  font-size: 22px;
  color: #FF8900;
  font-family: 'Roboto Slab',serif;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 17px;
}
#footer-services a{
text-decoration: none;
color: #fff;
font-size: 15px;
}
#footer-services a i{
padding-right: 10px;
color: #FF8900;
}
#footer-services span{
  padding-left: 30px;
}
#footer-last-p{
  background-color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: -10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
#footer-last-p span{
color: #FF8900;
}
/* About section css start */
#about_img{
  margin-top: -130px;
  height: 510px;
  width: 1348px;
  margin-left: -12px;
  position: relative;
  background-size: cover;
 background-position: center;
}
#about-h2{
 color: white;
 position: absolute;
 left: 46%;
 top: 53%;
 font-size: 40px;
 z-index: 1;
 }
 #about-h6{
  position: absolute;
  left: 46%;
  bottom: 32%;
  z-index: 1;
}
#about-h6 a{
text-decoration: none;
color: #fff;
z-index: 1;
}
 #about-h6 i{
padding-left: 5px;
color: #fff;
z-index: 1;
 }
 #about_image-text::after{
   position: absolute;
   color: red;
  top: 0%;
  height: 80%;
  width: 80%;
  margin-left: -12px;
   content: "";
   background-color: #1a181833;
   background-size: cover;
   overflow: hidden;
 }
 #about_us-h3{
   color: #FF8900;
   font-family: 'Roboto Slab',serif;
   font-weight: 900;
   font-size: 38px;
   padding-bottom: 10px;
 }
 #about_us-p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(88, 82, 82);
  line-height: 27px;
  word-spacing: 2px;
 }
 #about_us_img{
   width: 500px;
   height: 390px;
 }
 /* web development  css in about section */
 #web_development_about{
   height: 520px;
   width: 1348px;
   background-attachment: fixed;
   background-repeat: no-repeat;
 }
 #background_image_text::before{
  position: absolute;
   color: red;
  top: 0%;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #2125296b;
  background-size: cover;
 
 }
#background_about-para{
 
 color: #000;
 line-height: 30px;
 word-spacing: 2px;
 font-size: 18px;
 font-weight: 600;
 padding-top: 50px;
 padding-left: 70px;
 padding-right: 70px;
 color: white;
 overflow: hidden;
  }
  #background_about-para2{
    color: #000;
    line-height: 30px;
    word-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    color: #fff;
    overflow: hidden;
  }
  #on-text{
    position: absolute;
    top: 9%;
  }  
  #brandimg_logo{
    margin-left: -8px;
    width: 675px;
    border-bottom: 2px solid white;
  } 
  #brand-para{
    color: white;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 35px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto Slab',serif;
    word-spacing: 2px;
  }
  #brand-para2{
    color: white;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    word-spacing: 2px;
    font-family: 'Roboto Slab',serif;
  }
  /* services section image */
  #services_section_first_image{
    width: 1347.9px;
    height: 500px;
    margin-left: -12px;
    margin-top: -127.5px;
  }
  #service_image-text::after{
    position: absolute;
    color: red;
   top: 0%;
   height: 78.7%;
   width: 100%;
   margin-left: -12px;
    content: "";
    background-color: #00000057;
    background-size: cover;
    overflow: hidden;
  }
  /* card section css in services */
  #card-1-img{
    width: 300px;
    height: 190px;
    padding-top: 15px;
  }
  #card-h1{
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    word-spacing: 2px;
    padding-top: 19px;
    padding-bottom: 6px;
  }
  #card-p{
text-align: center;
font-size: 18px;
font-weight: 400;
padding-left: 5px;
padding-right: 5px;
}
#card-p2{
  text-align: center;
font-size: 18px;
font-weight: 400;
padding-left: 5px;
line-height: 32px;
padding-right: 5px;
letter-spacing: 0.3px;

}
#card1-btn-div{
  text-align: center;
  margin-bottom: 20px;
}
#card-1-btn{
  text-align: center;
  padding: 9px 18px;
  border:  none;
  background-color: #FF8900;
  border-radius: 5px;
  font-weight: 600;
}
#card-1-btn a{
 text-decoration: none;
 color: white;
}
#card-1-btn a i{
  padding-left: 5px;
}
/* contact us page css */
#about_image-text1::after{
  position: absolute;
  color: red;
 top: 0%;
 height: 80%;
 width: 100%;
 margin-left: -12px;
  content: "";
  background-color: #302e2e7a;
  background-size: cover;
  overflow: hidden;
}
#services-h2{
  color: white;
 position: absolute;
 left: 44.5%;
 top: 53%;
 font-size: 40px;
 z-index: 1;
 }
#contact-h1{
  position: absolute;
  top: 8%;
  left: 42%;
  color: #FF8900;
  font-size: 45px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-p{
  position: absolute;
  top: 15%;
  left: 14%;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-h1 span{
color: black;
}
#contact_details{
 font-size: 30px;
 font-weight: 600;
 padding-left: 70px;
 padding-bottom: 20px;
 font-family: Arial, Helvetica, sans-serif;
}
#contact_details span{
color: #fff;
}
#contact-details-info h4{
  font-size: 28px;
  font-weight: 700;
}
#contact-icon{
background-color: #000;
padding: 16px 18px;
border-radius: 50%;
color: #fff;
margin-right: 15px;
}
#contact-icon2{
  background-color: #000;
  padding: 16px 16px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  margin-left: -25px;
}
#contact-icon3{
  background-color: #000;
  padding: 16px 16px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  margin-left: -20px;
}
#contact-main-para{
  padding-left: 210px;
  margin-top: -10px;
 font-weight: 500;
 color: #fff;
}
#contact-main-para span{
margin-left: -100px;
}
#contact-main-para2{
  padding-left: 114px;
  margin-top: -10px;
 font-weight: 500;
 color: #fff;
}
#contact-main-para3{
  padding-left: 55px;
  margin-top: -10px;
 font-weight: 500;
 color: #fff;
}
#form-h1{
  color: #fff;
  font-size: 30px;
  padding-top: 26px;
  padding-bottom: 15px;
}
#contact_input{
  background-color: #fff;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 2px;
  font-weight: 700;
  border: none;
}
#contact_input2{
  background-color: #fff;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 190px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 2px;
  font-weight: 700;
  border: none;
}
#contact_input-btn{
  padding: 10px 25px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 50px;
}
#contact_input-btn i{
padding-left: 10px;
font-size: 15px;
}
#map-section{
  height: 490px;
}
#map-iframe{
  height: 490px;
  width: 100%;
}